.container{
    display: flex;
}
.course-container{
    width: 60%;
    margin-left: 10%;
    margin-right: 1%;
    border-right: 1px solid lightblue;
    padding:2%

}
.course-cart{
    padding:5px;
}